@media (max-width: 1200px) {
    .consultation {
        &__descr {
            margin-top: 60px;
        }
    }
    .footer {
        &__info {
            max-width: 400px;
            max-height: 220px;
        }
        &__social-item {
            img {
                margin-top: 44px;
            }
        }
            
    }



@media (max-width: 991px) {
    .header {
        &__logo {
            img {
                margin-left: 20px;
            }
         }
        &__phone {
            margin-right: 22px;
        }
    }

    .button {
        
        margin-right: 22px;
    }
    .promo {
        &__header {
            margin-right: 22px;
        }
        &__subheader {
            margin-right: 22px;
        }
        &__icons {
            margin-right: 22px;
        }
        &__link {
            margin-right: 22px;
        }
    }
    .prima {
        &__text {
            width: 220px;
            margin: 0 9px;
        }
    }
    .title {
        &__left {
            font-size: 33px;
            margin-left: 22px;
        }
    }
    .consultation {
        &__descr {
           
            margin-left: 22px;
        }
    }
    .feed-form {
        input {
            margin-left: 22px;
        }
    }
    .button {
        &_submit {
            width: 280px;
            margin-left: 22px;
        }
    }
    .title {
        &__left {
            font-size: 31px;
        }
    }
    
    .slick-next {
        margin-right: 87px;
    }
    .slick-prev {
        margin-left: 87px;
    }
    .slick-slide {
        img {
            width: 75%;
            margin: 0 auto;
        }
    }
    .feed {
        &__img {
            margin-left: 50px;
        }
        
    }
    .catalog {
        &__content {
            margin-left: 40px;
            margin-right: 40px;

        }
    }
}
@media (max-width: 767px) {
    .prima {
        &__wrapper {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-top: 18px;
        }
        &__item {
            img {
                margin-top: 15px;
            }
        }
    }
    .header {
        &__phone {
            margin-right: 10px;
            font-size: 16px;
        }
        &__logo {
            img {
                margin-left: 5px;
            }
        }
        &__official {
            span {
                font-size: 16px;
            }
        }
    }
    .button {
        margin-right: 8px;
        
        &_main {
            width: 180px;
            height: 46px;
            font-size: 14px;
            line-height: 16px;
        }
    }
    
    .slick-slide {
        img {
            width: 50%;
            margin-left: 151px;
           
        }
    }
    .carousel {
        &__inner {
            max-width: 572px;
        }
    }
    .feed {
        &__item {
            flex-direction: column;
        }
        &__img {
            margin: 0 auto;
        }
        &__title {
            margin-top: 12px;
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
    .catalog {
        &__content {
            margin-left: 150px;
        }
        &__tab {
            max-width: 150px;
            div {
                font-size: 16px;
            }
        }
    }
    
}
@media (max-width: 575px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        
        &__header {
            font-size: 22px;
            margin-right: 30px;

        }
        &__subheader {
            font-size: 13px;
            line-height: 7px;
            margin-right: 34px;
        }
        &__icons {
            width: 318px;
            margin-right: 5px;
        }
        &__icon {
            width: 94px;
            font-size: 12px;
            margin-left: 9px;
        }
    }
    .title {
        font-size: 19px;
        &__left {
            text-align: center;
            margin-right: 20px;
        }
    }
    .consultation {
        &__descr {
            
            text-align: center;
            font-size: 20px;
            margin: 4px;
        }
    }
    .header {
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        font-size: 11px;
    }
    .slick-slide {
        img {
           
            margin-left: 89px;
           
        }
    }
    .carousel {
        &__inner {
            max-width: 311px;
        }
    }
    .slick-next {
        margin-right: 69px;
        img {
            max-width: 28px;
            max-height: 41px;
        }
    }
    .slick-prev {
        img {
            max-width: 28px;
            max-height: 41px;
        }
    }
    .catalog {
        &__tab {
            max-width: 94px;
            max-height: 30px;
            div {
                font-size: 10px;
                line-height: 29px;
            }
        }
        &__content {
            margin: 0 auto;
            margin-left: 14px;

        }
    }
}