.prima {
    min-height: 470px;
    padding: 70px 0 81px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 235px;
        img {
           display: block;
           margin: 0 auto;
        }
    }
    &__title {
        font-size: 18px;
        margin-top: 38px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__text {
        margin-top: 26px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        span {
            color: $main-color;
            text-transform: uppercase;
        }
    }
}  